		<%= form_for [book, book_comment] do |f| %>
		<%= f.text_area :comment, rows:'5', placeholder: "コメント" %>
		<%= f.submit "コメントする" %>
		<% end %>
		<% book.book_comments.each do |book_comment| %>
		<table>
			<tr>
				<td><%= attachment_image_tag(book_comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %><br>
					<%= book_comment.user.name %></td>
					<td><%= book_comment.comment %></td>
					<% if book_comment.user.id == current_user.id %>
					<td><%= link_to "Destroy", book_book_comments_path(book_id: book_comment.id), method: :delete %></td>
					<% end %>
					<% end %>
				</tr>
			</table>
